[Unit]
Description=MaStR data export pipeline
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot

Environment=OUTPUT_DIR=%h/data/clickhouse/user_files/mastr
Environment=CLICKHOUSE_PATH=mastr
Environment=CLICKHOUSE_URL=http://localhost:8123/
Environment=CLICKHOUSE_DB=mastr
Environment=CLICKHOUSE_USER=mastr_import
Environment=PATH=/usr/local/bin:/usr/bin:/bin:%h/.local/bin
EnvironmentFile=%h/mastr-export.env

ExecStart=%h/.local/bin/deno run \
    --allow-net \
    --allow-read="%S/mastr-export","%C/mastr-export","${OUTPUT_DIR}" \
    --allow-write="%S/mastr-export","%C/mastr-export","${OUTPUT_DIR}" \
    --allow-run=axel,unzip,uconv,bash,mastr-export \
    %h/.local/bin/mastr-export \
    --state-dir="%S/mastr-export" \
    --scratch-dir="%C/mastr-export" \
    --output-dir="${OUTPUT_DIR}" \
    --clickhouse-path="${CLICKHOUSE_PATH}" \
    --clickhouse-url="${CLICKHOUSE_URL}" \
    --clickhouse-db="${CLICKHOUSE_DB}" \
    --clickhouse-user="${CLICKHOUSE_USER}" \
    --clickhouse-password="${CLICKHOUSE_PASSWORD}"

StateDirectory=mastr-export
CacheDirectory=mastr-export

[Install]
WantedBy=default.target
